%html{:lang=>"en"}
  %head
    %title METRONOME
    %meta{:charset=>"utf-8"}
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"keywords", :content=>"metronome, online, browser, web audio api, multirhythm, rhythmic metronome" }
    %meta{:name=>"description", :content=>"an audio-visual metronome supporting various rhythms and patterns" }
    %meta{:name=>"author", :content=>"christian wörner, ernst modersohn" }
    %script{:type=>"text/javascript", :src=>"/javascripts/vendor/jquery-1.7.2.min.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/vendor/bootstrap-modal.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/handlers.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/rhythmViewPort.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/audio_graph.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/drums.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/metronome.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/audio.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/rhythmEditor.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/utils.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/init.js"}
    %link{:id=>"favicon", :rel=>"shortcut icon", :href=>"/favicon.ico"}
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    %link{:href=>"/stylesheets/bootstrap-responsive.min.css", :rel=>"stylesheet"}
    %link{:href=>"/stylesheets/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/metro.css", :type=>"text/css"}
  %body{:id=>"body"}
    %div{:class=>"navbar navbar-inverse navbar-fixed-top"}
      %div{:class=>"navbar-inner", :id=>"main_nav"}
        %div{:class=>"container", :id=>"main_nav_container"}
          %button{:type=>"button", :class=>"btn btn-navbar", :"data-toggle"=>"collapse", :"data-target"=>".nav-collapse"}
            %span{:class=>"icon-bar"}
          %a{:class=>"brand", :href=>"/"} Metronome
          %span.claim
            Find your rhythm
          #nav2
            %ul
              %li
                %a{:"data-toggle"=>"modal", :href=>"#aboutContainer", :id=>"openSaveMeterModal"}
                  About
              %li
                %a{:"data-toggle"=>"modal", :href=>"#saveMeterContainer", :id=>"openSaveMeterModal"}
                  Save Meter
          %div{:class=>"nav-collapse collapse"}
            %ul{:class=>"nav"}
              %li{:class=>""}
                %button{:id=>"playButton", :class=>"btn btn-danger play_btn", :title=>"keyboard: [space]"}
                  Play
                  %span.ff_btn
                    [Press Spacebar]
              %li
                %img{:id=>"audioOnOff", :class=>"onOffPic",
                     :title=>"switch audio metronome on and off: keyboard: 'a'",
                     :"data-onSrc"=>"pics/ear_strong_black.png",
                     :"data-offSrc"=>"pics/ear_strong_grey.png",
                     :"data-name"=>"audio",
                     :"src"=>"pics/ear_strong_black.png"}
              %li
                %img{:id=>"visualOnOff", :class=>"onOffPic",
                       :title=>"switch visual metronome on and off: keyboard 'v'",
                       :"data-onSrc"=>"pics/auge_black.png",
                       :"data-offSrc"=>"pics/auge_grey.png",
                       :"data-name"=>"visual",
                       :src=>"pics/auge_black.png"}
              %li
                %img{:id=>"visualSequenceOnOff", :class=>"onOffPic",
                      :title=>"switch visual sequence on and off: keyboard 's'",
                       :"data-onSrc"=>"pics/auge_sequence_black.png",
                       :"data-offSrc"=>"pics/auge_sequence_grey.png",
                       :"data-name"=>"visualSequence",
                       :"src"=>"pics/auge_sequence_black.png"}
              %li
                %img{:id=>"visualFullscreenOnOff", :class=>"onOffPic",
                       :title=>"switch background visual on and off: keyboard: 'f' (fullscreen)",
                       :"data-onSrc"=>"pics/auge_frame_black.png",
                       :"data-offSrc"=>"pics/auge_frame_grey.png",
                       :"data-name"=>"visualFullscreen",
                       :src=>"pics/auge_frame_grey.png"}
              %li
                %img{:id=>"vis_switcher", :src=>"pics/metronome_circle_of_circles_black.png", :class=>"onOffPic",
                       :title => "switch between circle and linear display mode: keyboard: 'c'"}
              %li
                %img{:id=>"vis_prop_switcher", :src=>"pics/metronome_proportional_black.png", :class=>"onOffPic",
                       :title => "switch between proportional and un-proportional display: keyboard: 'p'"}
              %li
                %span{:class => "speedMonitor Monitor", :title=>"keyboard: left/right arrow"}120.0
                %span{:id=>"speedMonitorUnit", :title=>"keyboard: left/right arrow", :class=>"Monitor"} BPM
              %li
                %span{:id=>"analyzedRhythmMonitor", :class=>"Monitor"}
              %li{:class=>"fr"}
                %button{:"data-toggle"=>"modal", :href=>"#controlsContainer", :class=>"btn btn-small"} Show control
              %li{:class=>"fr"}
                %button{:"data-toggle"=>"modal", :id=>"unhideNewRhythmButton", :href=>"#rhythmEditorContainer", :class=>"btn btn-small"} Modify Rhythm
    %div{:class=>"container"}
      %div{:class=>"hero-unit"}
        %div{:id=>"rhythmViewPort", :style=>"position:relative;min-height:100px"}
          //%span{:id=>"meter", :style=>'background-color:#888888;position:absolute;'}
          %span{:id=>"one", :style=>'background-color:#BB9999;position:absolute;'}
          %span{:id=>"two", :style=>"background-color:#8888BB;position:absolute;"}
          %span{:id=>"three", :style=>"background-color:#AAAA11;position:absolute;"}
          %span{:id=>"four", :style=>'background-color:#7788FF;position:absolute;'}
        %div{:id=>"rhythmEditorContainer", :class=>"modal hide fade in modalPanelContainer", :style=>"display:none;"}
          %div{:id=>"newRhythm", :class=>"modalPanel"}
            %div.modal-header
              %h4 Number of Items
              %span{:id=>"newRhythmLengthMonitor", :class=>"Monitor"}
              %input{:id=>"newRhythmLengthSlider", :min=>"2", :max=>"27", :step=>"1", :value=>"4", :type=>"range"}
            %div.modal-body
              %h4
                Timeline
              %div{:id=>"rhythmEditor"}
                %p.tips
                  TIP: click on the circles to change instrument
                // filled by JavaScript
            %div.modal-footer
              %button{:id=>"saveNewRhythmButton", :class=>"btn btn-small", :"data-dismiss"=>"modal"} Save New Rhythm
              %button{:id=>"hideNewRhythmButton", :class=>"btn btn-small", :"data-dismiss"=>"modal"} hide rhythm editor
        %div{:id=>"controlsContainer", :class=>"modal hide fade in modalPanelContainer", :style=>"display:none;"}
          %div{:id=>"controls" , :class=>"modalPanel"}
            %div.modal-header
              Controls
            %div.modal-body
              %h4 Bpm
              %table{:class=>"broad"}
                %tr>
                  %td{:id=>"speedslider_cell"}
                    %input{:id=>"speedSlider", :min=>"20", :max=>"333", :step=>"0.1",
                           :value=>"120", :type=>"range", :title=>"keyboard: left/right arrow"}
                  %td{:id=>"speedmonitor_cell"}
                    %span{:class => "speedMonitor Monitor"} 120.0
              %hr
              %h4 Volume
              %table{:class=>"broad"}
                %tr
                  %td
                    Kick
                    %input{:type=>"range", :name=>"kickVol" , :class=>"volVertical", :rel=>"kick",
                           :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                    %br
                    %span{:id=>"kickVolMonitor" , :class=>"Monitor"} 1.0
                  %td
                    Snare
                    %input{:type=>"range", :name=>"snareVol", :class=>"volVertical", :rel=>"snare",
                      :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                    %br
                    %span{:id=>"snareVolMonitor" , :class=>"Monitor"}1.0
                  %td
                    Hihat
                    %input{:type=>"range", :name=>"hihatVol", :class=>"volVertical", :rel=>"hihat",
                      :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                    %br
                    %span{:id=>"hihatVolMonitor" , :class=>"Monitor"} 1.0
            %div.modal-footer
              %a{:href=>"#", :class=>"btn", :"data-dismiss"=>"modal"} Close
        %div{:id=>"saveMeterContainer", :class=>"modal hide fade in modalPanelContainer", :style=>"display:none;"}
          %div{:id=>"newRhythm", :class=>"modalPanel"}
            %div.modal-header
              %h4 Save the current Meter
            %div.modal-body
              bookmark the page or save this url:
              %br
              %input{:type=>"text", :id=>"shareUrlInput", :style=>"width: 100%;font-size:1.2em;height:2em;"}
            %div.modal-footer
              %a{:href=>"#", :class=>"btn", :"data-dismiss"=>"modal"} Ok
        %div{:id=>"aboutContainer", :class=>"modal hide fade in modalPanelContainer", :style=>"display:none;"}
          %div{:id=>"newRhythm", :class=>"modalPanel"}
            %div.modal-header
              %h3 Metronome
            %div{:class=>"modal-body", :id=>"about-body"}
              %h4 About
              %p
                %em
                  Metronome
                is a online metronome with the following features:
              %ul.base
                %li
                  speed control
                %li
                  volume control
                %li
                  free choice of rhythms
                %li
                  acoustic, visual or audio-visual mode
                %li
                  keyboard control
              %p
                NB:
                %em
                  Metronome
                uses the
                %a{:href=>"https://www.w3.org/TR/webaudio/"}
                  Web Audio API
                for audio generation. Audio will not work on browsers that do not implement the web audio api.
              %br
              %h4 Github repository
              %p
                %em Metronome
                is free and open source. The source code is available on
                %a{:href=>"https://github.com/kr1/metronome"}
                  GitHub

      %hr
      %footer
        %p
          &copy; Zanstaën &
          %a{:href=>"https://soundcloud.com/ernst-modersohn"} Ernst Modersohn
          2013-2016

