%html{:lang=>"en"}
  %head
    %title METRONOME
    %meta{:charset=>"utf-8"}
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"keywords", :content=>"metronome, online, browser, web audio api, multirhythm, rhythmic metronome" }
    %meta{:name=>"description", :content=>"an audio-visual metronome supporting various rhythms and patterns" }
    %meta{:name=>"author", :content=>"christian wörner, ernst modersohn" }
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery-1.7.2.min.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/bootstrap-modal.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/handlers.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/rhythmViewPort.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/audio_graph.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/drums.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/metronome.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/audio.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/rhythmEditor.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/init.js"}
    %link{:id=>"favicon", :rel=>"shortcut icon", :href=>"/favicon.ico"}
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    %link{:href=>"/stylesheets/bootstrap-responsive.min.css", :rel=>"stylesheet"}
    %link{:href=>"/stylesheets/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:rel=>"stylesheet", :href=>"/stylesheets/metro.css", :type=>"text/css"}
  %body{:id=>"body"}
    %div{:class=>"navbar navbar-inverse navbar-fixed-top"}
      %div{:class=>"navbar-inner", :id=>"main_nav"}
        %div{:class=>"container", :id=>"main_nav_container"}
          %button{:type=>"button", :class=>"btn btn-navbar", :"data-toggle"=>"collapse", :"data-target"=>".nav-collapse"}
            %span{:class=>"icon-bar"}
          %a{:class=>"brand", :href=>"#"} Metronome
          %div{:class=>"nav-collapse collapse"}
            %ul{:class=>"nav"}
              %li{:class=>"", :style => "width:7%;"}
                %button{:id=>"playButton", :class=>"btn btn-small", :title=>"keyboard: [space]"} Play
              %li{:class=>"", :style => "width:25%;"}
                %img{:id=>"audioOnOff", :class=>"onOffPic",
                     :title=>"switch audio metronome on and off: keyboard: 'a'",
                     :"data-onSrc"=>"pics/ear_strong_green.png",
                     :"data-offSrc"=>"pics/ear_strong_grey.png",
                     :"data-name"=>"audio",
                     :"src"=>"pics/ear_strong_green.png"}
                %img{:id=>"visualOnOff", :class=>"onOffPic",
                       :title=>"switch visual metronome on and off: keyboard 'v'",
                       :"data-onSrc"=>"pics/auge_green.png",
                       :"data-offSrc"=>"pics/auge_grey.png",
                       :"data-name"=>"visual",
                       :src=>"pics/auge_green.png"}
                %img{:id=>"visualSequenceOnOff", :class=>"onOffPic",
                      :title=>"switch visual sequence on and off: keyboard 's'",
                       :"data-onSrc"=>"pics/auge_sequence_green.png",
                       :"data-offSrc"=>"pics/auge_sequence_grey.png",
                       :"data-name"=>"visualSequence",
                       :"src"=>"pics/auge_sequence_green.png"}
                %img{:id=>"visualFullscreenOnOff", :class=>"onOffPic",
                       :title=>"switch background visual on and off: keyboard: 'f' (fullscreen)",
                       :"data-onSrc"=>"pics/auge_frame_green.png",
                       :"data-offSrc"=>"pics/auge_frame_grey.png",
                       :"data-name"=>"visualFullscreen",
                       :src=>"pics/auge_frame_grey.png"}
                %img{:id=>"vis_switcher", :src=>"pics/metronome_circle_of_circles.png", :class=>"onOffPic",
                       :title => "switch between circle and linear display mode: keyboard: 'c'"}
                %img{:id=>"vis_prop_switcher", :src=>"pics/metronome_proportional.png", :class=>"onOffPic",
                       :title => "switch between proportional and un-proportional display: keyboard: 'p'"}
              %li{:class=>"", :style => "width:9%;"}
                %span{:class => "speedMonitor Monitor", :title=>"keyboard: left/right arrow"}120.0
                %span{:id=>"speedMonitorUnit", :title=>"keyboard: left/right arrow", :class=>"Monitor"} BPM
              %li{:class=>"", :style => "width:16%;"}
                %span{:id=>"analyzedRhythmMonitor", :class=>"Monitor"}
              %li{:class=>"", :style => "width:14%;"}
                %button{:"data-toggle"=>"modal", :href=>"#controlsContainer", :class=>"btn btn-small"} Show control
              %li{:class=>"", :style => "width:17%;"}
                %button{:"data-toggle"=>"modal", :href=>"#rhythmEditorContainer", :class=>"btn btn-small"} Modify Rhythm
    %div{:class=>"container"}
      %div{:class=>"hero-unit"}
        %div{:id=>"rhythmViewPort", :style=>"position:relative;min-height:100px"}
          //%span{:id=>"meter", :style=>'background-color:#888888;position:absolute;'}
          %span{:id=>"one", :style=>'background-color:#BB9999;position:absolute;'}
          %span{:id=>"two", :style=>"background-color:#8888BB;position:absolute;"}
          %span{:id=>"three", :style=>"background-color:#AAAA11;position:absolute;"}
          %span{:id=>"four", :style=>'background-color:#7788FF;position:absolute;'}
        %div{:id=>"rhythmEditorContainer", :class=>"modal hide fade in modalPanelContainer", :stule=>"display:none;"}
          %div{:id=>"newRhythm", :class=>"modalPanel"}
            %input{:id=>"newRhythmLengthSlider", :min=>"2", :max=>"27", :step=>"1", :value=>"4", :type=>"range"}
              %span{:id=>"newRhythmLengthMonitor", :class=>"Monitor"}
                %button{:id=>"saveNewRhythmButton"} Save New Rhythm
                %button{:id=>"hideNewRhythmButton"} hide rhythm editor
                %div{:id=>"rhythmEditor"}
                  // filled by JavaScript
        %div{:id=>"controlsContainer", :class=>"modal hide fade in modalPanelContainer", :stule=>"display:none;"}
          %div{:id=>"controls" , :class=>"modalPanel"}
            %div.modal-header
              Controls
            %div.modal-body
              %table{:class=>"broad"}
                %tr>
                  %td
                    %input{:id=>"speedSlider", :min=>"5", :max=>"333", :step=>"0.1", 
                           :value=>"120", :type=>"range", :title=>"keyboard: left/right arrow"}
                  %td
                    %span{:class => "speedMonitor Monitor"} 120.0
                  %td
                    %span{:id=>"speedMonitorUnit" , :class=>"Monitor"} BPM
                  %table{:class=>"broad"}
                    %tr
                      %th
                        Volume
                    %tr
                      %td
                        Kick
                        %input{:type=>"range", :name=>"kickVol" , :class=>"volVertical", :rel=>"kick", 
                               :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                        %br
                        %span{:id=>"kickVolMonitor" , :class=>"Monitor"} 1.0
                      %td
                        Snare
                        %input{:type=>"range", :name=>"snareVol", :class=>"volVertical", :rel=>"snare",
                          :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                        %br
                        %span{:id=>"snareVolMonitor" , :class=>"Monitor"}1.0
                      %td
                        Hihat
                        %input{:type=>"range", :name=>"hihatVol", :class=>"volVertical", :rel=>"hihat",  
                          :min=>"0", :max=>"1.2", :step=>"0.01", :value=>"1"}
                        %br
                        %span{:id=>"hihatVolMonitor" , :class=>"Monitor"} 1.0
            %div.modal-footer
              %a{:href=>"#", :class=>"btn", :"data-dismiss"=>"modal"} Close
      %div{:class=>"modal hide fade in", :id=>"a666", :style=>"display: none; "}
        %div.modal-header
          %a{:class=>"close", :"data-dismiss"=>"modal"} ×
          %h3 This is a Modal Heading
        %div.modal-body
          %div.row
            %div.span4 aslkhlkajfh
            %div.span4 aslkhlkajfh
          %h4
            Text in a modal
          %p You can add some text here.
        %div.modal-footer
          %a{:href=>"#", :class=>"btn btn-success"} Call to action
      -#      
        .row
          .span4
            %h2 kjke
            %p
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              */
      %hr
      %footer
        %p
          &copy; Zanstaën 2013

