body{
    background-Color:#DDEEDD;
    font-family:sans-serif;
}
ul {
    list-style: none;}
li{
    display: inline-block;
    width:10%;
    padding: 0.1em 1em 0.1em 0.1em;
 }
li.broad{width:20%}
.hidden{display:none;}
.broad{width:100%}
.modalPanelContainer{
    position: relative;
    z-index:2;
}
.modalPanel{
    position:relative;
    background-Color: #CCCFCC;
    width:99%;}
#speedSlider{width:70%;}
#speedMonitor{width:15%;}
#speedMonitorUnit{width:15%;}
.volVertical {width: 20px;
              height: 120px;
              -webkit-appearance: slider-vertical;}
#rhythmViewPort #rhythmEditor {
                 margin-left: auto;
                 margin-right: auto;
                 width: 80%;
                 text-align:center}
.meterItem.light, .rhythmEditorItem.light {background-Color:#FF4477;}
.meterItem.heavy, .rhythmEditorItem.heavy {background-Color:#44DDAA;}
.meterItem.fill, .rhythmEditorItem.fill {background-Color:#9944FF;}
.meterItem.highlight {background-Color: #002200;}
#newRhythm {
    height:50%;
}
#rhythmEditor {
    position:relative;
}
.rhythmGrouping {
    padding: 2;
    height: 23px;
}
.onOffPic {height:35px}
