body {
    padding-top: 100px;
    padding-bottom: 10px;
}


.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 92%;
}

.sidebar-nav {
    padding: 9px 0;
}
.nav {
    width:85%;
}
.navbar-inner, #main_nav {
  background-color: #f3f3f3; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

button {
  font-size: 8px;
  font-weight: bold;
}

.navbar .nav > li {
    display: inline-block;
    margin: 0 9px 0 0;
}

ul.left_nav  {
    position: absolute;
    margin: 25px 8px 0 0;
    list-style: none;
}

ul.left_nav > li {
}

.onOffPic {
    height: 40px;
    padding: 5px 0px 0 10px;
}

li.speedMonitorCont {
    vertical-align: center;
    padding: 5px 0px 0px 0px;
}

.navbar .btn, .navbar .btn-group {margin:0;}
.hero-unit {
    height:60%;
}
li.broad {
    width:22%
}

img#vis_switcher:hover {
    opacity: 0.2;
}

.hidden {
    display:none;
}
.broad {
    width:100%
}

.play_btn {
    width: 140px;
    text-transform: uppercase;
}

.navbar .brand {
    margin: 0 10px 0 0;
    border: dashed 1px;
}
.navbar-inverse .brand {
    color: #000;
    text-shadow: 0 0 0;
}

.main_nav_container {
    line-height: 32px;
}
#controlsContainer {
    width: 60%;
    margin-left: -30%;
}
#aboutContainer {
    width: 60%;
    margin-left: -30%;
}
#about-body {
    height: 480px;
    max-height: 480px;
}
.modalPanel{
    position:relative;
    width:100%;
}
#speedSlider {
    width: 70%;
}
#speedslider_cell {
    width: 70%;
}
#speedMonitor {
    width: 15%;
}
#speedmonitor_cell {
    width: 20%;
}
#speedMonitorUnit {
    width: 15%;
}
.volVertical {
    width: 10px;
    height: 120px;
    -webkit-appearance: slider-vertical;
}
#rhythmViewPort #rhythmEditor {
                 margin-left: auto;
                 margin-right: auto;
                 width: 80%;
                 text-align:center}

#newRhythmLengthMonitor {
    float: left;
    display: inline-block;
    min-width: 3em;
}
.light, .rhythmEditorItem.light {
    background-Color: #466340;
}
.heavy, .rhythmEditorItem.heavy {
    background-Color:#183E31;
    color: #fff;
}
.fill, .rhythmEditorItem.fill {
    background-Color:#9090AF;
}
.highlight {
    background-Color: #EE680E;
    color: #fff;
    opacity: 1;
}
#newRhythm {
    height:50%;
}
#rhythmEditor {
    position:relative;
    min-height:200px;
    height:200px;
}
.rhythmGrouping {
    padding: 2;
    height: 23px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow:0 0 0 ;
    border-bottom: 1px solid #DDDDDD;
}

#analyzedRhythmMonitor{
}
.navbar .nav {
    width: 100%;
    margin-top: 26px;
    height: 30px;
    overflow: hidden;
}
.navbar .nav > li.fr {
    float: right;
}
.fr {
    float: right;
}
.fl {
    float:left;
}
.hero-unit {
    background: transparent;
    margin: 20px;
}

#main_nav {
    height:45px;
    padding:10px 0;
}
.ff_btn {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    vertical-align: top;
}

#nav2 {
    float:right;margin:10px;
}
#nav2 li {
    display:inline-block;margin:0 0 0 20px;
}
#nav2 li a {
    color:#999;
}
p.tips {
    font-size: 12px;
}
.claim {
    color: #999999;
    display: inline-block;
    font-size: 13px;
    margin: 12px 9px 0;
}
ul.base {
    padding-left: 30px;
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
    color: #999;
}
#newRhythmLengthMonitor{
    float: none;
}

