/*body{
    background-Color:#DDEEDD;
    font-family:sans-serif;
}
ul {
    list-style: none;}*/
.nav{
  width:85%;
}
.navbar-inner, #main_nav {
  background-color: #f3f3f3; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
button{
  font-size:12;
  font-weight:bold;
}
li{
    display: inline-block;
    width:10%;
    padding: 3 3 0 6;
 }

.hero-unit{
  height:50%;
}
li.broad{
  width:22%
}

img#vis_switcher:hover {
  opacity: 0.2;
}

.hidden{
  display:none;
}
.broad{
  width:100%
}

#controlsContainer{
  width:700px;
  left:40%;
}
.modalPanel{
    position:relative;
    background-Color: #CCCFCC;
    width:99%;}
#speedSlider{width:70%;}
#speedMonitor{width:15%;}
#speedMonitorUnit{width:15%;}
.volVertical {width: 20px;
              height: 120px;
              -webkit-appearance: slider-vertical;}
#rhythmViewPort #rhythmEditor {
                 margin-left: auto;
                 margin-right: auto;
                 width: 80%;
                 text-align:center}

#newRhythmLengthMonitor{
  min-width:2em;
}
.light, .rhythmEditorItem.light {
    background-Color:#FF4477;
}
.heavy, .rhythmEditorItem.heavy {
    background-Color:#44DDAA;
}
.fill, .rhythmEditorItem.fill {
    background-Color:#9944FF;
}
.highlight {
    background-Color: #002200;
    opacity: 0.6;
}
#newRhythm {
    height:50%;
}
#rhythmEditor {
    position:relative;
    min-height:400px;
    height:400px;
}
.rhythmGrouping {
    padding: 2;
    height: 23px;
}
.onOffPic {height:30px}
